html{
    font-size: 16px;
    background-color: #011627;
    box-sizing: border-box;
}
header nav{
    background-color: #41EAD4;
    text-align: center;
}
nav a{
    text-transform: capitalize;
    
}

header h1{
    font-size: 3rem;
    text-align: center;
    background-color: #FDFFFC ;
}

.logo{
    text-align: center;
}

img{
    width: 150px;
    padding: 0px;
    
}

article .contenido {
    background-color: #0A81D1;
}

h2 >a{
    text-decoration: none;
    background-color: #FDFFFC;
    color: black;

}

ol p{
    font-style: italic;
}

.caja{
    background-color: peru;
    width: 50px;
    height: 50px;
}

.caja1{
    padding: 20px 10px 5px 3px;
    margin: 20px 10px;
}

.caja2{
    margin-top: 3rem;
    margin-bottom: -1rem;
}

.caja3{
    margin-left: -2rem;
    margin-bottom: 1rem;
    background-color: rgb(6, 8, 10);
}

.caja4{
    margin: 0 auto;
}
